<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Uploading Files</title>
    <!-- FIXME not fucking working -->
    <!-- <link type="text/css" th:href="@{/css/style.css}" rel="stylesheet"/>-->

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>

    <style>
        body {
            background-color: #f4f4f4;
            margin-top: 50px;
            font-family: 'Lato';
        }
    </style>
</head>
<body>

<div class="container">

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="display-3">Uploading Files</h1>
            <hr/>
        </div>
    </div>

    <div class="row" th:if="${filename}">
        <div class="col-md-6 offset-md-3">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                You successfully uploaded <strong th:text="${filename}"/>!
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    </div>

    <div class="row" th:if="${error}">
        <div class="col-md-6 offset-md-3">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <span th:text="${error}"/>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    </div>

    <div class="row">
        <form class="col-md-6 offset-md-3" method="POST" enctype="multipart/form-data" action="/">
            <div class="mb-3">
                <label for="formFile" class="form-label">Put your file here</label>
                <input class="form-control" type="file" name="file" id="formFile">
            </div>

            <div class="d-grid gap-2">
                <button class="btn btn-warning" type="submit">Upload</button>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="list-group">
                <div th:each="file : ${files}">
                    <a class="list-group-item list-group-item-action list-group-item-info" th:href="${file}"
                       th:text="${file}"/>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
